.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 24;
}

.pdfContainer {
    margin: 16px 24px;
    height: 80vh;
    overflow-y: auto;
    width: 90vh;
}

.bodyRisck {
    margin-bottom: 32px;
}

.bodyRisck .title {
    font-weight: bold;
}

.buttonHandleClose {
    color: #EC2026;
    border: 1px solid #EC2026;

    &:hover {
        color: #FFFF;
        background: #EC2026;
        border: 1px solid #EC2026;
        cursor: pointer;
    }
}

.buttonDownloadPdf {
    color: #343434;
    border: 1px solid #343434;

    &:hover {
        color: #FFFF;
        background: #343434;
        border: 1px solid #343434;
        cursor: pointer;
    }
}

.logoImage {
    background-image: url("https://i.imgur.com/7HlVYme.png") !important;
    width: 310px !important;
    height: 60px !important;
}