.containerHome {
    min-height: calc(100vh - 105px) !important;
    padding: 1rem;
}

.sectionOne {
    background-color: #343434;
    padding: 24px 48px;
    border-radius: 24px;
    margin-top: 24px;
    color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
}

.sectionTwo {
    background-color: #ffffff;
    border-radius: 30px 30px 24px 24px;
    margin-top: 24px;
    color: #ffffff;
}

.sectionTwo .header {
    background-color: #343434;
    padding: 16px 48px;
    border-radius: 24px 24px 0 0;
}

.sectionTwo .body {
    color: black;
    padding: 24px 48px;
}

.search {
    display: flex;
    margin-top: 2rem;
}

.inputSelectProtocolo {
    width: 20%;
    margin-right: 1rem;
}

.inputLinkInstituicao {
    width: 85%;
    margin-right: 1rem;
}

.buttonVerificar {
    color: #343434;
    min-width: 8rem;
    border: 1px solid #343434;

    &:hover {
        color: #FFFF;
        background: #343434;
        border: 1px solid #343434;
        cursor: pointer;
    }

    &:focus {
        font-size: 14px;
    }

    &:disabled {
        color: rgb(139, 139, 139);
        border: none;
        background: #bcbcbc;
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

.buttonRelatorioCompleto {
    color: #343434;
    border: 1px solid #343434;

    &:hover {
        color: #FFFF;
        background: #343434;
        border: 1px solid #343434;
        cursor: pointer;
    }
}

.progressBar {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.information {
    margin-top: 24px;
}

.sectionThre {
    background-color: #ffffff;
    border-radius: 30px 30px 24px 24px;
    margin-top: 24px;
    color: #ffffff;
    margin-bottom: 24px;
}

.sectionThre .header {
    background-color: #343434;
    padding: 16px 48px;
    border-radius: 24px 24px 0 0;
}

.sectionThre .body {
    color: black;
    padding: 16px 48px;
}

.linearProgress {
    width: 95%;
    background-color: #00000014;
    height: 1rem;
    border-radius: 8px;
}

.linearProgress>* {
    background-color: #343434;
}

.modalLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 24;
    min-height: 15rem;
    border-radius: 24px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}